<div class="col-md-12" *ngIf = "!isLoggedIn && !isSuccessful">
    <div class="card card-container">
        <img 
        id="profile-img"
        src="//ssl.gstatic.com/accounts/ui/avatar_2x.png"
        alt="avatar"
        class="profile-img-card"
        />
        <form
        name="form"
        (ngSubmit) = "f.form.valid && onSubmit()"
        #f = "ngForm"
        novalidate
        >
            <div class="form-group">
                <label for="username">Username</label>
                <input 
                type="text"
                class="form-control"
                name="username"
                [(ngModel)] = "form.username"
                required
                minlength="3"
                maxlength="20"
                #username = "ngModel"
                />
            <div class="alert-danger" *ngIf="username.errors && f.submitted">
                <div *ngIf="username.errors.required">Username is required</div>
                <div *ngIf="username.errors.minlength">
                    Username cannot be less than 3 characters
                </div>
                <div *ngIf="username.errors.maxlength">
                    Username cannot exceed 20 characters
                </div>
            </div>
            </div>

            <div class="form-group">
                <label for="fullname">Full Name</label>
                <input 
                type="text"
                class="form-control"
                name="fullname"
                [(ngModel)] = "form.fullname"
                required
                minlength="5"
                maxlength="40"
                #fullname = "ngModel"
            />
            <div class="alert-danger" *ngIf="fullname.errors && f.submitted">
                <div *ngIf="fullname.errors.required">Full Name is required</div>
                <div *ngIf="fullname.errors.minlength">
                    Full Name cannot be less than 3 characters
                </div>
                <div *ngIf="fullname.errors.maxlength">
                    Full Name cannot exceed 40 characters
                </div>
            </div>
            </div>

            <div class="form-group">
                <label for="email">Email</label>
                <input
                type="email"
                class="form-control"
                name="email"
                [(ngModel)] = "form.email"
                required
                email
                #email = "ngModel"
                />
                <div class="alert-danger" *ngIf="email.errors && f.submitted">
                    <div *ngIf="email.errors.required">Email is required</div>
                    <div *ngIf="email.errors.email">
                        Email must be a valid email address
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="password">Password</label>
                <input
                type="password"
                class="form-control"
                name="password"
                [(ngModel)] = "form.password"
                required
                minlength="6"
                #password = "ngModel"
                />
                <div class="alert-danger" *ngIf="password.errors && f.submitted">
                    <div *ngIf="password.errors.required">Password is required</div>
                    <div *ngIf="password.errors.minlength">
                        Password must be at least 6 characters
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="password2">Confirm Password</label>
                <input
                type="password"
                class="form-control"
                name="password2"
                [(ngModel)] = "form.password2"
                required
                minlength="6"
                #password2 = "ngModel"
                />
                <div class="alert-danger" *ngIf="password2.errors && f.submitted">
                    <div *ngIf="password2.errors.required">You Need To Confirm Your Password</div>
                    <div *ngIf="password2 !== password">
                        Passwords do not match
                    </div>
                </div>
            </div>

            <div class="form-group">
                <button type="button" (click)="onSubmit()" class="btn btn-primary btn-block">
                    {{isLoading ? 'Loading...' : 'Sign Up'}}
                </button>
            </div>

            <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
                SignUp Failed! <br /> {{errorMessage}}
            </div>

        </form>

        <div class="alert alert-success" *ngIf="isSuccessful && isLoggedIn">
            Your Registration is Successful!
        </div>

    </div>
    
</div>